@import url("__title/feynman__title.css");
@import url("__subtitle/feynman__subtitle.css");
@import url("__link/feynman__link.css");
@import url("__picture/feynman__picture.css");

.feynman{
  min-height: 790px;
  padding-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
}
