@import url("../blocks/header/header.css");
@import url("../blocks/header/__square/header__square.css");
@import url("../blocks/content/__link/content__link.css");
@import url("../blocks/content/description/description.css");
@import url("../blocks/content/feynman/feynman.css");
@import url("../blocks/content/feynman/__picture/feynman__picture.css");
@import url("../blocks/content/techniques/techniques.css");
@import url("../blocks/cards/cards.css");
@import url("../blocks/content/video/video.css");
@import url("../blocks/content/video/__bottom-rect/video__bottom-rect.css");
@import url("../blocks/content/oakley/oakley.css");
@import url("../blocks/content/digits/digits.css");
@import url("../blocks/content/khan/khan.css");
@import url("../blocks/content/khan/__buy-link/khan__buy-link.css");
@import url("../blocks/content/kaufman/kaufman.css");
@import url("../blocks/content/kaufman/__triangle/kaufman__triangle.css");
@import url("../blocks/content/resources/resources.css");
@import url("../blocks/content/resources/__logo-image/resources__logo-image.css");
@import url("../blocks/two-columns/two-columns.css");
@import url("../blocks/two-columns/__span-accent/two-columns__span-accent.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/logo/_place/logo_place_footer.css");
@import url("../blocks/table/table.css");
@import url("../blocks/table/_theme/table_theme_dark.css");
@import url("../blocks/table/__cell/_theme/table__cell_theme_dark.css");
@import url("../blocks/cards/__description/cards__description.css");
@import url("../blocks/section-title/section-title.css");
@import url("../blocks/section-title/_theme/section-title_theme_dark.css");
@import url("../blocks/section-subtitle/section-subtitle.css");
@import url("../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__social-icons/footer__social-icons.css");
@import url("../blocks/content/_position/content_position_center.css");
@import url("../blocks/link/link.css");
@import url("../blocks/semi-transparent/semi-transparent.css");
@import url("../blocks/rotation/rotation.css");

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
