.feynman{
  height: 790px;
  position: relative;
}

.feynman__title{
  margin-top: 100px;
  width: 775px;
  z-index: 1;
}

.feynman__title-text{
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle{
  margin-top: 70px;
  z-index: 1;
}

.feynman__subtitle-text{
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link{
  position: absolute;
  margin-top: 395px;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feyman__picture{
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}
