.footer{
  width: 100%;
  min-height: 350px;
  flex-basis: 711px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__columns{
  width: 90%;
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.footer__column{
  width: 50%;
  position: relative;
}

.logo_place_footer{
  margin: 0;
}

.logo_size_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  bottom: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  position: absolute;
}

.footer__author-text{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-row{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  column-gap: 25%;
}


.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__list{
  height: 40%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link{
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer_icon_image{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


