.kaufman{
  z-index: 1;
}

.kaufman-title_margin_top{
  margin-top: 90px;
}

.kaufman-table__list_padding_top{
  padding-top: 80px;
}

.kaufman-table__cell-size{
  width: 200px;
}

.kaufman__triangle{
  width: 636px;
  height: 660px;
  position: absolute;
  right: -124px;
  overflow: hidden;
}
